html {
  font-family: Helvetica, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 0;
  margin-left: 0;
}
ul li,
ol li {
  line-height: 1.5rem;
  margin-left: 1rem;
  padding-left: .5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family:  Helvetica, arial, sans-serif;
  margin-top: 1.25rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  font-weight: 600;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-top: 3rem;
}
h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-top: 2.5rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.9rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

p code,
li code {
  background-color: #e5efff;
  padding: 2px 4px;
  border-radius: 3px;
}

strong {
  font-weight: 600;
}